.hero{

    min-height:100vh;
    display: flex;  
    justify-content:flex-start;
    align-items:center;
    text-align:center;
    padding:50px;
    margin-top: 30px;

}

.hero-title{

    max-width:600px;

}

.hero-title h1{

    font-family:"Cormorant Garamond", serif;
    font-size:80px;
    font-weight:400;
    color:#66784a;
    line-height:0.9;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:30px;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);

}

.hero-subtitle{

    font-family:"Montserrat", sans-serif;
    font-size:35px;
    font-weight:300;
    color:#66784a;
    margin-bottom:40px;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);

}

.hero a {

    display:inline-block;
    margin-top:25px;
    padding:20px 34px;
    background:#66784a;
    color:white;
    text-decoration:none;
    border-radius:40px;
    font-size:16px;
    font-weight:700;
    letter-spacing:1px;
    box-shadow:0 12px 25px rgba(102,120,74,0.35);
    transition:0.3s ease;

}

.hero a:hover {

    background:#4f6038;
    transform:translateY(-5px) scale(1.03);
    box-shadow:0 18px 35px rgba(102,120,74,0.45);

}

.hero a.clicked {

    transform:scale(0.95);

}

.hero-photo{

    width:100%;
    height:100%;
    max-width: 650px;
    height: 650px;
    overflow:hidden;

}

.hero-photo img{

    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:20px;
    object-position: center;
    display: block;

}
