.floating-btn{

    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;

    position:fixed;
    right:30px;
    bottom:30px;
    background:#FFF9E6;
    color:#66784a;
    padding:16px 24px;
    border-radius:50px;
    text-decoration:none;
    font-weight:700;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    z-index:1000;
    transition:0.3s ease;
    opacity:0;
    pointer-events:none;
    transform:translateY(20px);

}

.floating-btn.show{

    opacity:1;
    pointer-events:auto;
    transform:translateY(0);
    
}